---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset = "utf-8" />
		<meta name = "viewport" content = "width=device-width, initial-scale=1.0" />
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<div class = "container">
			<section class = "main-section">
				<div class = "main-vid">
					<video loop autoplay muted plays-inline class = "main-video">
						<source src="/videos/hero-video.mp4" type="video/mp4" />
					</video>
				</div>

				<div class = "main-info">
					<h1>{SITE_TITLE}</h1>
					<p>{SITE_DESCRIPTION}</p>
					<button>Get Started</button>
				</div>

				<h1 class = "main-text">Software Engineer</h1>
			</section>
			
		</div>
		<Footer />
	</body>
</html>
