---
import "../styles/main.css";
---

<div class="container">
  <header class="header" id="header">

    <nav class="nav container">
      <a href="#" class = "nav__logo">Luis Eduardo Gutiérrez Arias</a>

      <div class = "nav__menu" id = "nav-menu">
        <ul class = "nav__list grid">
          <li class = "nav__item"><a href="#home" class = "nav__link"><i class="uil uil-home-alt"></i>Home</a></li>
          <li class = "nav__item"><a href="#about" class = "nav__link"><i class="uil uil-user-md"></i>About</a></li>
          <li class = "nav__item"><a href="#skills" class = "nav__link"><i class="uil uil-book-alt"></i>Skills</a></li>
          <li class = "nav__item"><a href="#projects" class = "nav__link"><i class="uil uil-suitcase-alt"></i>Projects</a></li>
          <li class = "nav__item"><a href="#blog" class = "nav__link"><i class="uil uil-images"></i>Blog</a></li>
          <li class = "nav__item"><a href="#contactme" class = "nav__link"><i class="uil uil-envelope-add"></i>Contactme</a></li>
        </ul>
        <i class="uil uil-times-circle nav__close" id="nav-close"></i>
      </div>

      <div class="nav__btns">
        <!-- Theme change button -->
        <div class="nav__toggle" id="nav-toggle">
          <i class="uil uil-apps"></i>
        </div>
    </nav>
  </header>
</div>
