---
import "../styles/main.css";
---

<div class="container">
  <header>
    <div class="head-left">
      <img src="/Images/profile-pic.jpg" alt="Profile Picture" />
      <!-- <h2><a href="/">{SITE_TITLE}</a></h2> -->
      <button>Information</button>
    </div>

    <div class="head-right">
      <p><a href="#">About Me</a></p>
      <p><a href="#">Studies</a></p>
      <p><a href="#">Proyects</a></p>
      <p><a href="#">Trayectory</a></p>
    </div>
  </header>
</div>

<style>
  header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    z-index: 999;
    background-color: #4b4b4b5b;
    backdrop-filter: blur(10px);
  }

  .head-left {
    display: flex;
    align-items: center;
  }

  .head-left img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border-radius: 50%;
  }

  .head-left button {
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
  }

  .head-left button:hover {
    opacity: 0.7;
  }
  .head-right {
    display: flex;
  }

  .head-right a {
    text-decoration: none;
    padding-left: 25px;
    color: white;
    font-size: 15px;
  }

  /* .head-left h2 a {
	font-size: 20px;
	color: #fff;
	text-decoration: none;
} */
</style>
