<div class="container">
  <header class="header" id="header">
    <nav class="nav container">
      <a href="#" class="nav__logo">Luis Eduardo Gutiérrez Arias</a>

      <div class="nav__menu" id="nav-menu">
        <ul class="nav__list grid">
          <li class="nav__item">
            <a href="#home" class="nav__link"
              ><i class="uil uil-home nav__icon"></i>Home</a>
          </li>
          <li class="nav__item">
            <a href="#about" class="nav__link"
              ><i class="uil uil-user-md nav__icon"></i>About</a>
          </li>
          <li class="nav__item">
            <a href="#skills" class="nav__link"
              ><i class="uil uil-book-alt nav__icon"></i>Skills</a>
          </li>
          <li class="nav__item">
            <a href="#projects" class="nav__link"
              ><i class="uil uil-suitcase-alt nav__icon"></i>Projects</a>
          </li>
          <li class="nav__item">
            <a href="#blog" class="nav__link"
              ><i class="uil uil-images nav__icon"></i>Blog</a>
          </li>
          <li class="nav__item">
            <a href="#contactme" class="nav__link"
              ><i class="uil uil-envelope-add nav__icon"></i>Contactme</a>
          </li>
        </ul>
        <i class="uil uil-times-circle nav__close" id="nav-close"></i>
      </div>

      <div class="nav__btns">
        <!-- Theme change button -->
        <div class="nav__toggle" id="nav-toggle">
          <i class="uil uil-apps"></i>
        </div>
      </div>
    </nav>
  </header>

  <style>
    .header {
      width: 100%;
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: var(--z-fixed);
      background-color: var(--body-color);
    }

    .nav {
      max-width: 968px;
      height: var(--header-height);
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .nav__logo,
    .nav__toggle {
      color: var(--title-color);
      font-weight: var(--font-medium);
    }

    .nav__logo:hover {
      color: var(--first-color);
    }

    .nav__toggle {
      font-size: 1.1rem;
      cursor: pointer;
    }

    .nav__toggle:hover {
      color: var(--first-color);
    }

    @media screen and (max-width: 767px) {
      .nav__menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 1.5rem 1.5rem 0;
        transition: 0.3s;
      }
    }

    .nav__list {
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
    }
    .nav__link {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: var(--small-font-size);
      color: var(--title-color);
      font-weight: var(--font-medium);
    }

    .nav__link:hover {
      color: var(--first-color);
    }

    .nav__icon {
      font-size: 1.2rem;
    }

    .nav__close {
      position: absolute;
      right: 1.3rem;
      bottom: .5rem;
      font-size: 1.5rem;
      cursor: pointer;
      color: var(--first-color);
    }

    .nav__close:hover {
      color: var(--first-color-alt);
    }

    .show-menu {
      bottom: 0;
    }

  </style>
</div>
