<section class="home section" id= "home">
    <div class="home__container container grid">
        <div class="home__content grid">
            <div class="home__social">
                <a href="https://www.linkedin.com/in/eduardoguti%C3%A9rreza" target="_blank" class="home__social-icon">
                    <i class="uil uil-linkedin-alt"></i>
                </a>

                <a href="https://portfolio-luis-eduardo-gutierrez-ar.vercel.app/" target="_blank" class="home__social-icon">
                    <i class="uil uil-window"></i>
                </a>

                <a href="https://github.com/luisgutierrez001" target="_blank" class="home__social-icon">
                    <i class="uil uil-github-alt"></i>
                </a>
            </div>
        </div>
    </div>
</section>