<section class="skills section" id="skills">
  <h2 class="section__title">Skills</h2>
  <span class="section__subtitle">My Technical Level</span>

  <div class="skills__container container grid">
    
    <div>
      <!-- ==================== FRONTEND ==================== -->
      <div class="skills__content skills__open">
        <div class="skills__header">
          <i class="uil uil-brackets-curly skills__icon"></i>

          <div>
            <h1 class="skills__titles">Frontend</h1>
            <span class="skills__subtitle">More than 3 years of experience</span
            >
          </div>

          <i class="uil uil-angle-down skills__arrow"></i>
        </div>
        <div class="skills__list grid">
          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">HTML5</h3>
              <span class="skills__number">95%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__html"></span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">CSS3</h3>
              <span class="skills__number">90%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__css"></span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">JavaScript</h3>
              <span class="skills__number">80%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__javascript"></span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">React</h3>
              <span class="skills__number">85%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__react"></span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">Next.js</h3>
              <span class="skills__number">65%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__nextjs"></span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">Tailwind CSS</h3>
              <span class="skills__number">70%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__tailwind"></span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">Bootstrap</h3>
              <span class="skills__number">75%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__bootstrap"></span>
            </div>
          </div>
        </div>
      </div>

      
    </div>

    <!-- ==================== BACKEND ==================== -->
    <div>
      <div class="skills__content skills__close">
        <div class="skills__header">
          <i class="uil uil-sitemap skills__icon"></i>

          <div>
            <h1 class="skills__titles">Backend</h1>
            <span class="skills__subtitle">More than 3 years of experience</span
            >
          </div>

          <i class="uil uil-angle-down skills__arrow"></i>
        </div>
        <div class="skills__list grid">
          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">Node.js</h3>
              <span class="skills__number">70%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__node"></span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">Laravel</h3>
              <span class="skills__number">60%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__laravel"></span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">APIs RESTful</h3>
              <span class="skills__number">75%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__rest"></span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">Arquitecturas (MVC / Microservicios)</h3>
              <span class="skills__number">65%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__architecture"></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ==================== BASES DE DATOS & HERRAMIENTAS ==================== -->
    <div>
      <div class="skills__content skills__close">
        <div class="skills__header">
          <i class="uil uil-database skills__icon"></i>

          <div>
            <h1 class="skills__titles">Bases de Datos & Procesos</h1>
            <span class="skills__subtitle">More than 3 years of experience</span
            >
          </div>

          <i class="uil uil-angle-down skills__arrow"></i>
        </div>
        <div class="skills__list grid">
          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">PostgreSQL</h3>
              <span class="skills__number">70%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__postgres"></span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">MySQL</h3>
              <span class="skills__number">65%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__mysql"></span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">MongoDB</h3>
              <span class="skills__number">60%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__mongo"></span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">SQL (intermedio)</h3>
              <span class="skills__number">60%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__sql"></span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">Procedimientos almacenados</h3>
              <span class="skills__number">55%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__storedproc"></span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">Git</h3>
              <span class="skills__number">75%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__git"></span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">GitHub</h3>
              <span class="skills__number">75%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__github"></span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">Scrum / Desarrollo Ágil (XP)</h3>
              <span class="skills__number">70%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__agile"></span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">Servidores propios</h3>
              <span class="skills__number">60%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__servers"></span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">CI/CD (básico)</h3>
              <span class="skills__number">55%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__cicd"></span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">Pruebas funcionales / Unitarias</h3>
              <span class="skills__number">60%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__testing"></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ==================== Metodologías & Colaboración ==================== -->
    <div>
      <div class="skills__content skills__close">
        <div class="skills__header">
          <i class="uil uil-users-alt skills__icon"></i>

          <div>
            <h1 class="skills__titles">Metodologías & Colaboración</h1>
            <span class="skills__subtitle">More than 1 year of experience</span>
          </div>

          <i class="uil uil-angle-down skills__arrow"></i>
        </div>
        <div class="skills__list grid">
          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">PostgreSQL</h3>
              <span class="skills__number">70%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__postgres"></span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">MySQL</h3>
              <span class="skills__number">65%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__mysql"></span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">MongoDB</h3>
              <span class="skills__number">60%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__mongo"></span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">SQL (intermedio)</h3>
              <span class="skills__number">60%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__sql"></span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">Procedimientos almacenados</h3>
              <span class="skills__number">55%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__storedproc"></span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">Git</h3>
              <span class="skills__number">75%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__git"></span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">GitHub</h3>
              <span class="skills__number">75%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__github"></span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">Scrum / Desarrollo Ágil (XP)</h3>
              <span class="skills__number">70%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__agile"></span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">Servidores propios</h3>
              <span class="skills__number">60%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__servers"></span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">CI/CD (básico)</h3>
              <span class="skills__number">55%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__cicd"></span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">Pruebas funcionales / Unitarias</h3>
              <span class="skills__number">60%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__testing"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .skills__container {
    row-gap: 0;
  }

  .skills__header {
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-2-5);
    cursor: pointer;
  }

  .skills__icon,
  .skills__arrow {
    font-size: 2rem;
    color: var(--first-color);
  }

  .skills__icon {
    margin-right: var(--mb-0-75);
  }

  .skills__title {
    font-size: var(--h3-font-size);
  }

  .skills__subtitle {
    font-size: var(--small-font-size);
    color: var(--text-color-light);
  }

  .skills__arrow {
    margin-left: auto;
    transition: 0.4s;
  }

    .skills__titles {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-0-5);
  }

  .skills__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
  }


    .skills__bar,
  .skills__percentage {
    height: 5px;
    border-radius: 0.25rem;
  }


  .skills__bar {
    background-color: var(--first-color-light);
  }


  .skills__percentage {
    display: block;
    background-color: var(--first-color);
  }
 

  .skills__html {
    width: 95%;
  }

  .skills__css {
    width: 90%;
  }

  .skills__javascript {
    width: 80%;
  }

  .skills__react {
    width: 85%;
  }

  .skills__nextjs {
    width: 65%;
  }

  .skills__tailwind {
    width: 70%;
  }

  .skills__bootstrap {
    width: 75%;
  }

  .skills__node {
    width: 70%;
  }

  .skills__laravel {
    width: 60%;
  }

  .skills__rest {
    width: 75%;
  }

  .skills__architecture {
    width: 65%;
  }

  .skills__postgres {
    width: 70%;
  }

  .skills__mysql {
    width: 65%;
  }

  .skills__mongo {
    width: 60%;
  }

  .skills__sql {
    width: 60%;
  }

  .skills__storedproc {
    width: 55%;
  }

  .skills__git {
    width: 75%;
  }

  .skills__github {
    width: 75%;
  }

  .skills__agile {
    width: 70%;
  }

  .skills__servers {
    width: 60%;
  }

  .skills__cicd {
    width: 55%;
  }

  .skills__testing {
    width: 60%;
  }

  .skills__close .skills__list {
    height: 0;
    overflow: hidden;
  }

  .skills__open .skills__list {
    height: max-content;
    margin-bottom: var(--mb-2-5);
  }

  .skills__open .skills__arrow {
    transform: rotate(-180deg);
  }
 
</style>
